// Colors
$white: #fff;
$black: #000;
$active: #90d2f8;
$blue: #34adf2;
$grey: #454545;
$lightgrey: #e0e0e1;
$darkgrey: #979799;
$opaque: rgba(0, 0, 0, .2);

// font-size
$small: 14px;
$medium: 20px;
$medium-large: 24px;
$large-small: 34px;
$large: 48px;
$x-large: 66px;

// font-weight
$normal: 100;
$bold: 600;

// Breakpoints
$desktop: 1024px;
$notebook: 995px;
$tablet: 768px;
$mobile: 425px;