.banner {
  .wrapper {
    width: 100%;

    .flex-container {
      @include flex;
      @include wrap;

      .flexbox-left {
        width: 77%;
        height: 584px;
        position: relative;
        background: url('./../../../assets/images/Video-1568x882.jpg') no-repeat center;
        background-size: cover;

        @include responsive($notebook) {
          width: 100%;
        }

        @include responsive($tablet) {
          height: 650px;
        }

        .content {
          position: absolute;
          top: 82px;
          left: 68px;
          color: $white;

          h2 { font-size: $x-large; }

          p {
            width: 40%;
            padding-top: 34px;
            font-size: $medium;
            line-height: 1.65;

            @include responsive($tablet) {
              width: 80%;
            }
            
            @include responsive($mobile) {
              width: 100%;
            }
          }
        }

        .play-btn {
          top: 50%;
          left: 50%;
          @include translate(-50%, -50%);

          @include responsive($mobile) {
            margin-top: 150px;
          }
        }

        .share {
          position: absolute;
          right: 30px;
          bottom: 56px;
          color: $white;

          a {
            color: $white;

            &:hover { color: $active; }
          }

          ul {
            padding-left: 12px;
            display: inline-block;

            li {
              padding: 5px 8px;
              border: 1px solid $white;
              border-radius: 50%;
              margin: 0 4px;
            }
          }
        }
      }

      .flexbox-right {
        width: 23%;
        height: 584px;
        background-color: $grey;
        overflow: auto;

        @include responsive($notebook) {
          width: 100%;
          height: auto;
        }

        figure {
          margin: 16px 14px;
          img { width: 100%; }
          &:first-of-type { position: relative; }

          .play-btn {
            top: 50%;
            left: 50%;
            @include translate(-50%, -50%);
          }
        }
      }
    }
  }
}