header {
  a { color: $black; }
  
  .flex-container {
    padding: 26px 0 16px 0;
    @include flex;
    @include wrap;

    nav {
      width: 80%;

      @include responsive($tablet) {
        width: 100%;
      }

      figure {
        width: 234px;
        display: inline-block;

        img { width: 234px; }
      }

      .nav-links {
        margin-left: 24px;
        display: inline-block;
        vertical-align: middle;

        @include responsive($desktop) {
          margin-left: 0;
        }
        
        @include responsive($tablet) {
          display: none;
          padding-top: 50px;
          margin-bottom: -40px;
          @include translate(0, -40px);

          &:hover { display: block; }
        }

        li {
          padding: 0 24px;

          @include responsive($desktop) {
            padding: 0 16px;
          }

          @include responsive($tablet) {
            margin: 12px 0;
            display: block;
          }

          a.active { color: $active; }

          a {
            text-transform: uppercase;

            &:hover {
              &:not(.active) { text-decoration: underline; }
            }
          }
        }
      }
    }

    .socials {
      width: 20%;
      margin: auto 0;
      text-align: end;
      vertical-align: middle;

      @include responsive($tablet) {
        display: none;
      }
 
      ul {
        margin-top: -8px;

        li {
          padding: 2px 6px;
          border: 1px solid $darkgrey;
          border-radius: 50%;
          margin: 0 3px;
          vertical-align: middle;

          a {
            padding: 2px;
            color: $darkgrey;

            &:hover { color: $active; }
          }
        }
      }

      .language {
        margin-top: 12px;
        font-size: $small;

        a {
          color: $darkgrey;

          &:hover {
            &:not(.active) { text-decoration: underline; }
          }
        }

        a.active { color: $black; }
      }
    }

    .hamburger {
      display: none;
      position: absolute;
      right: 48px;
      top: 42px;
      cursor: pointer;
      font-size: $medium-large;
      z-index: 1;

      @include responsive($mobile) {
        right: 24px;
      }

      &:hover { color: $active; }

      @include responsive($tablet) {
        display: block;

        &:hover + .nav-links { display: block; }
      }
    }
  }
}