header {
  a { color: $black; }
  
  .flex-container {
    padding: 26px 0 16px 0;
    @include flex;
    @include wrap;

    nav {
      width: 75%;

      // @include responsive($desktop) {
      //   width: 70%;
      // }
      
      // @include responsive($notebook) {
      //   width: 100%;
      // }

      figure {
        width: 234px;
        display: inline-block;

        img { width: 234px; }
      }

      .nav-links {
        margin-left: 24px;
        display: inline-block;
        vertical-align: middle;

        li {
          padding: 0 24px;

          a.active {
            color: $active;
          }

          a {
            text-transform: uppercase;

            &:hover {
              &:not(.active) { text-decoration: underline; }
            }
          }
        }
      }
    }

    .socials {
      width: 25%;
      margin: auto 0;
      text-align: end;
      vertical-align: middle;

      // @include responsive($desktop) {
      //   width: 30%;
      // }
      
      // @include responsive($notebook) {
      //   display: none;
      // }

      ul {
        margin-top: -8px;

        li {
          padding: 2px 6px;
          border: 1px solid #979799;
          border-radius: 50%;
          margin: 0 3px;
          vertical-align: middle;

          a {
            padding: 2px;
            color: #979799;

            &:hover {
              color: $active;
            }
          }
        }
      }

      .language {
        margin-top: 12px;
        font-size: 14px;

        a {
          color: #979799;
          &:hover {
            &:not(.active) {
              text-decoration: underline;
            }
          }
        }

        a.active { color: $black; }
      }
    }

    .hamburger {
      position: absolute;
      right: 48px;
      top: 30px;
      font-size: 24px;
      display: none;
    }
  }
}